---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Chart from '../components/chart.vue';
import Stats from '../components/stats.vue';
import Table from '../components/table.vue';
const deadMeatLogo = '/images/dead-meat-logo.png';

const killCountResponse = await fetch("https://share.mattsoria.com/movie_kill_counts_07-01-25.json");
const killCountData = await killCountResponse.json();
const totalData = killCountData.pop();
---

<Layout>
	<header>
		<h1 class="container-fill-text">
			<span class="container-fill-text__container">
				<span class="container-fill-text__display">The Numbers</span>
			</span>
			<span class="container-fill-text__reference" aria-hidden="true">The Numbers</span>
		</h1>
		
		<div class="tagline font-display container-fill-text">
			<span class="container-fill-text__container">
				<span class="container-fill-text__display">A <Image src={deadMeatLogo} alt="" width="300" height="171" /> Kill Count fan site</span>
			</span>
			<span class="container-fill-text__reference" aria-hidden="true">A <Image src={deadMeatLogo} alt="" width="300" height="171" /> Kill Count fan site</span>
		</div>
	</header>

	<div class="chart-header">
		<div class="chart-container">
			<Chart client:load totalData={totalData} /> 
		</div>
		<div class="stat-container">
			<Stats client:load />
		</div>
	</div>
	<Table client:load killCountData={killCountData} /> 
</Layout>

<style>
	header {
		padding-block: 2rem;
		border-top: 3px solid black;
		border-bottom: 3px solid black;
	}

	h1,
	.tagline {
		margin: 0;
		line-height: 1;
		text-align: center;
		text-box-trim: trim-both;

		span {
			text-wrap: balance;
		}
	}

	.tagline {
		--container-fill-text-max-font-size: 3rem;
		padding-inline: 10vw;
		img {
			width: auto;
			height: 1em;
			transform: translateY(5%);
		}
	}

	.chart-header {
		gap: 2rem;
		display: grid;
		padding-block: 2rem;
		grid-template-columns: repeat(12, 1fr);
	}
	.chart-container {
		grid-column: 1 / 6;
	}
	.stat-container {
		grid-column: 6 / 13;
	}
</style>