---
import "../styles/app.css";
import "../styles/fonts.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>The Numbers: A Dead Meat Kill Count Fan Site</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />

		<footer class="container">
			<div>
				<h2>About</h2>
				<p>This site was built by me, <a href="https://www.mattsoria.com">Matt Soria</a>👋. I'm a big fan of Dead meat and The Kill Count, and I also know how to build websites, so I built this site for fun. I have no affiliation with Dead Meat, but if they see this, I hope they dig it, and I hope you do too, fellow horror nerd.</p>
			</div>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	footer {
		padding-block: 2rem 4rem;
		margin-block-start: 5rem;
		color: var(--color-white);
		background-color: var(--color-black);

		> div {
			max-width: 65ch;
			text-wrap: pretty;
		}
	}
</style>
